a {
  color: #79e0ff;
  background: rgba(0, 0, 0, 0.34);
}

button svg {
  fill: rgba(255, 219, 169, 0.43) !important;
}

pre code {
  font-size: 125%;
}

pre {
  overflow: auto;
  max-height: 500px;
}
